{{define "sidebar" }}
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a href="/blog">论坛博客</a></li>
        <li><a href="/index">资料清单 <span class="sr-only">(current)</span></a></li>
        <li><a href="/upload">文件上传</a></li>
        <li><a href="/translatePage">彩云小译</a></li>
        <li><a href="/littleMouse" target="_blank">简易商城</a></li>
        <li><a href="/datashare" target="_blank">共享论坛</a></li>
        <li><a href="/uploadPage" target="_blank">核酸上传</a></li>
        <li><a href="/Vote" target="_blank">核酸已做投票</a></li>
        <li><a href="mailto:2016210867@mail.hfut.edu.cn" target="_blank">ContactMe</a></li>
        <li><a href="https://leetcode-cn.com/u/ni-hao-zhao-huan-shi/" target="_blank">LeetCode</a></li>
        <li><a href="https://linjianshu.github.io/" target="_blank">GitHub</a></li>
        <li><a href="https://space.bilibili.com/130619984" target="_blank">Bilibili</a></li>
    </ul>
</div>
{{end }}

<!--class="active"-->